.about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color:#640f0b ;


}

.vl {
  border-left: 1px solid rgb(239, 243, 239);
  height: 500px;

}

.about img {
  padding-right: 12px;
  height: 50vh;
  width: auto;
  border-radius: 0%;


}

p {
  font-size: medium;
  height: 50vh;
  width: 80vh;
  border-radius: 0%;
  padding-top: 30px;
  color: white;
  opacity: 0.8;
}
