.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color:#b1a296 ;
}
.contact img {

  height: 60vh;
  width: auto;
  width: auto;
  border-radius: 5%;

}

.contact .leftside {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  flex: 50%;

}

.contact .rightside {
  height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.contact .rightside h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 10;
  font-size: 50px;
  margin-left: 30px;
  margin-top: 15px;
}

form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 30px;
}

form input {
  height: 40px;
  width: 80%;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
}

form textarea {
  margin-top: 15px;
  height: 70px;
  width: 80%;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
}
input::placeholder,
textarea::placeholder {
  font-weight: bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;

}
form input:focus,
textarea:focus {
  outline: auto;
}

form label {
  margin-top: 15px;
  color: #080909;
}

form button {
  margin-top: 40px;
  width: 140px;
  height: 40px;
  border: none;
  background-color: #121619;
  color: whitesmoke;
  font-size: 15px;
  cursor: pointer;
}

@media only screen and (max-width:768px) {

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
  }

  .contact .rightside {
    justify-content: flex-start;
  }


  .contact img {
    height: 40vh;
  ;
    padding-top: 0;
    max-width: 100%;
    margin-top: 60px;
    border-radius: 10%;


  }

  .contact .rightside h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 10;
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 0;

  }

  form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 15px;
  }
  .linha{
    display: flex;
    justify-content: space-between;

    flex-direction: row;
    width: 100%;
  }
   label{
    display: none;
  }

  form input {
    height: 20px;
    width: 80%;
    border: none;
    border-bottom: 1px solid #121619;
    margin-right: 8px;
    color: black;
  }

  form textarea {

    margin-top: 20px;
    height: 90px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;
    margin-right: 1px;
  }


  form button {
    margin-top: 20px;
    width: 140px;
    height: 40px;
    border: none;
    background-color: #121619;
    color: whitesmoke;
    font-size: 15px;
    cursor: pointer;
  }
}
