.footer {
  width: 100%;
  height: 80px;
  background-color:transparent;
  display: flex;
  justify-content: flex;
  align-items: center;
  flex-direction: column;

  position:absolute;
  left:0;
  bottom:0;
  right:0;
}



.icons {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100px;
  color:  white;
  justify-content: center;
  align-items: center;
  border-radius: 20%;

}

.leftSide {
  width: 23%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


}

.rightSide {
  width: 23%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.center {
  width: 43%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


}

button {
  size: 1.1;
}


.footer a {
  font-size: x-small;
  text-decoration:none;
  color:  white;
  font-weight: bold;
  padding-left: 10px;

}


.modal-overlay {
  background: none;
  position: fixed;
  top: 0px;
  bottom: 80px;
  right: 0px;
  left: 0px;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 300px;
  max-width: 500px;
  min-width: 300px;
  background-color:  rgb(40,103,157);
  padding: 10px;
  border-radius: 5px;
}
.container {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.modal-content p {
  color: whitesmoke;
  width: 100%;
  min-width: 300px;
  text-align: center;
  line-height: 2.9ch;
  height: 90%;
}

.button {
	display: flex;
	height: 30px;
	padding: 0;
	background-color: rgb#640f0b;
  opacity: 0.9;
	border: none;
	outline: none;
	border-radius: 20px;
	overflow: hidden;
	font-family: "Quicksand", sans-serif;
	font-size: 12px;
	font-weight: 500;
	cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.button:hover {
	background: rgb(187, 47, 47);
}

.button:active {
	background: #0c0f0e;
}

.button__text,
.button__icon {
	display: inline-flex;
	align-items: center;
	padding: 0 24px;
	color: #fff;
	height: 100%;
}



@media only screen and (max-width: 768px) {



  .footer {
    background-color: transparent;
    justify-content: space-around;
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    height: 100px;
  }

  .button {
    background-color: rgb(40,103,157,0.9);
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 65px;
    border-radius: 50%;
  }



.center {
  display: none;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100px;

  justify-content: center;
}

.leftSide {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;

  border-radius: 50%;
}


.rightSide {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
}

.footer a {
  font-size: xx-small;
  text-decoration:none;
  color: white;
  padding-left: 10px;

}


}
