

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}



img {
  width: 70px;
  border-radius: 50%;
}

.toggle {
  display: none;
}

.toggleh {
  display: none;
}


header {
  position:absolute;
  left:0;
  top:0;
  right:0;
  width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
<<<<<<< HEAD
	padding: 0 2rem;
	background-color: #5899BC;
	color: white;
  margin-right: 0px;
=======
  background-color: #2A80A6;
}

.imageHeader {
  position: fixed;
  display: flex;
	align-items: center;
	justify-content: space-around;
  width: 96%;


>>>>>>> cf0319b71b82818ce28cad1ffee0d04b3005a993
}

nav a {
	margin: 0 1.5rem;
	color: white;
	text-decoration: none;
  font-size: large;


}

nav a:hover {
	font-weight: bold;
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: white;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}


header div,
nav {
	display: flex;
	align-items: center;
  justify-content:center;


}

header svg {
  color: white;
}

@media only screen and (max-width: 1024px) {


  #home {
    display: none;
  }

  img {
   size: 20px;
  }


  header svg {
    color: #215D91;
  }

  .imageHeader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

  }


  .logo {
    display: none;
  }

  .right .icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: blue;
  }

  .right {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .toggle {
   display: block;
    width: 130px;
  }
  .toggleh {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    color: whitesmoke;

  }

  .toggleh .time {
    color: #2A80A6;
  }

  .toggle p {
    width: 230px;
  }

  header .nav-btn {
		visibility: visible;
		opacity: 1;

	}

  header {
    background-color:transparent;
    position: fixed;
    justify-content: space-between;
    width: 100%;
  }

	header nav {
		position: fixed;
    padding-top: 100px;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
    align-items: center;
		justify-content: flex-start;
		gap: 1.5rem;
		background-color: #27689E;
		transition: 1s;
		transform: translateY(-100vh);
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
    color: white;
	}

	nav a {
		font-size: 1rem;
    color: white;
	}
}
